# Ignore .pyc files
*.pyc
*.swp
tests/tools/build/
_trial_temp

.DS_Store

ninja_ide/addins/plugins/*
NINJA_IDE.egg-info/*
build/*
dist/*

*.pyo

ninja_ide/gui/dialogs/.ropeproject/config.py
ninja_ide/gui/dialogs/.ropeproject/globalnames
ninja_ide/gui/dialogs/.ropeproject/history
ninja_ide/gui/dialogs/.ropeproject/objectdb
nohup.out

