# 2013-11-13T16:39:56 by gatox .travis.yml Continuous Integration by Ninja-IDE
language: python

python:
  #- 2.7
  #- 3.3
  - 3.4
  
sudo: required

#virtualenv:
  #system_site_packages: true


before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sudo apt-add-repository ppa:beineri/opt-qt551 -y
  - sudo apt-get update
  - sudo apt-get install qt-latest
  - source /opt/qt55/bin/qt55-env.sh

install:
  - sudo mkdir -p /builds && sudo chmod a+rw /builds
  - sudo mkdir -p /downloads && sudo chmod a+rw /downloads
  - curl -L -o /downloads/sip.tar.gz http://sourceforge.net/projects/pyqt/files/sip/sip-4.17/sip-4.17.tar.gz
  - curl -L -o /downloads/pyqt.tar.gz http://skylink.dl.sourceforge.net/project/pyqt/PyQt5/PyQt-5.5.1/PyQt-gpl-5.5.1.tar.gz
  - tar xzf /downloads/sip.tar.gz -C /builds --keep-newer-files
  - tar xzf /downloads/pyqt.tar.gz -C /builds --keep-newer-files
  - cd /builds/sip-4.17 && python configure.py && sudo make && sudo make install
  - cd /builds/PyQt-gpl-5.5.1 && python configure.py --confirm-license && sudo make && sudo make install
  - sudo ls .
  - sudo ls ..
  - sudo ls ~/
  - sudo ls ~/build
  - sudo ls ~/builds
  - cd $TRAVIS_BUILD_DIR
  - python3 -c 'import PyQt5, PyQt5.QtGui, PyQt5.QtCore, PyQt5.QtWidgets, sip'  # to test if compile its ok

#install: true

before_script: rm --recursive --force --verbose *.py[cod]

script: ./run-tests ninja_tests/tools/jsonmanager

after_script: true

after_success: true

after_failure: true

notifications:
  irc:
      channels: "irc.freenode.org#ninja-ide"
      template:
          - "%{repository}@%{branch}: %{message}(%{build_url})"
          - "Build: %{build_number}, SHA: %{commit}, Committer: %{author}, Diff: %{compare_url}"
      on_success: always
      on_failure: always
      use_notice: true  # false to disable
  email:
      recipients: dojo@ninja-ide.org
      template:
          - "%{repository}@%{branch}: %{message}(%{build_url})"
          - "Build: %{build_number}, SHA: %{commit}, Committer: %{author}, Diff: %{compare_url}"
      on_success: change
      on_failure: always

cache: apt
