[Desktop Entry]
Name=Ninja IDE
Comment=A Python IDE
Exec=ninja-ide
Terminal=false
Type=Application
Icon=@ INSTALLED_ICON @
Categories=Development;
StartupNotify=true
MimeType=application/x-python;application/x-ninja-ide;
