[Desktop Entry]
Name=Ninja IDE
Comment=A Python IDE
Exec=ninja-ide-git %F
Icon=ninja-ide-git
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
MimeType=application/x-python;application/x-ninja-ide;
